.item
    height: 50px
    border-radius: 5px
    border: 1px solid grey
    cursor: pointer
    margin-bottom: 10px
    display: flex
    align-items: center
    padding-left: 20px
    p
        margin-right: 20px
    .title
        font-size: 20px

.item:hover
    border-color: white
