.itemContainer
    display: flex
    overflow-x: hidden
.item
    width: 100%
    position: relative
    height: 50px
    border-radius: 5px
    border: 1px solid grey
    cursor: pointer
    margin-bottom: 10px
    display: flex
    align-items: center
    padding-left: 20px
    p
        margin-right: 20px
    .title
        font-size: 20px

.selectPlaylist
    margin-left: 50px
    margin-bottom: 10px

.item:hover
    border-color: white

.itemActive:active
    transform: scale(0.95)

