.header
    display: flex
    justify-content: space-around
    align-items: center
    padding-top: 20px

.menu
    display: flex

    .menu__item
        margin-right: 20px
        font-size: 20px

    list-style-type: none