p.folderContainer
    width: 100%
    display: flex
    overflow-x: hidden

.folder
    max-width: 100%
    position: relative
    min-height: 50px
    border-radius: 5px
    cursor: pointer
    margin-bottom: 15px
    overflow: hidden
    padding: 0 20px
    p
        margin-right: 20px
        word-break: break-all
    .title
        font-size: 25px
        word-break: break-all
        font-weight: bold
        margin-top: 8px

    .children
        margin-top: 10px
        

.selectPlaylist
    margin-left: 50px
    margin-bottom: 10px

.folder:hover
    background-color: #242424

    
@media screen and (max-width: 840px)
    .folder
        padding: 10px 20px
        flex-direction: column
        align-folders: start
        height: auto

    .selectPlaylist
        width: calc(100% - 50px)
        margin-left: 5px