.player
    height: 50px
    border-radius: 5px
    background-color: #252B2C
    margin-top: 20px
    display: flex
    align-items: center
    padding-left: 20px
    p
        margin-left: 20px

    .title
        font-size: 20px
    
    .progress
        margin-left: 20px
        width: 70%