@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
   margin: 0;
   padding: 0;
   text-decoration: 0;
   color: white;
   font-family: 'Montserrat', sans-serif;
   transition: all 0.2s;
}
.page{
    width: 87%;
    padding: 30px;
    position: relative;
}
.heading{
    margin-bottom: 30px;
}
body{
    background-color:  black;
    height: 100vh;
    display: flex;
    overflow-y: hidden
}
a:hover{
    color: lightgrey;
}
.resetBtn{
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer
}