@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
   margin: 0;
   padding: 0;
   text-decoration: 0;
   color: white;
   font-family: 'Montserrat', sans-serif;
   transition: all 0.2s;
}
.page{
    width: 87%;
    padding: 30px;
    position: relative;
}
body{
    background-color:  black;
}
.service{
    height: 100vh;
    display: flex;
    overflow: hidden
}
a:hover{
    color: lightgrey;
}
.resetBtn{
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer
}
.flex{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 840px){
    .page{
        width: 100vw;
        height: 100vh;
        padding: 10px;
    }
    .service{
        display: block;
    }
}
@media screen and (max-width: 1022px){
    .heading{
        font-size: 40px;
    }
}