.def
    height: 500px
    padding: 0 10%
    position: relative
    .def__text
        font-size: 60px
        position: absolute
        bottom: 0
        width: 1000px

.infoBlock
    margin-top: 200px
    margin-left: 10%
    width: 950px
    .info
        margin-top: 20px
        margin-left: 50px
        font-size: 30px
    
@media screen and (max-width: 1022px)
    .def
        height: 300px
        padding: 0 5%
        .def__text
            font-size: 30px
            width: 100%

    .infoBlock
        margin-left: 5%
        margin-top: 100px
        h1
            font-size: 28px
        .info
            font-size: 20px
            width: calc(100vw - 5%)
            
            margin-left: 0
